// ----------------------------------------------- //
// LOGIN BUTTON
// ----------------------------------------------- //

.login-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400;
  margin: 25px 30px 0 0;
}

.login-container > div {
  display: inline-block;
  float: right;
  clear: both;
}

.login-button * {
  transition: .2s;
}

.login-button-active .login-icon {
  background: $blue-med !important;
  opacity: 1 !important;
}

.login-button-active span {
  color: #333 !important;
  opacity: 1 !important;
}

.login-button-active {
  background: white !important;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
}

.login-button  {
  background: #757575;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  border: 1px solid #757575;
}

.login-button span {
  text-transform: uppercase;
  font-family: Alegreya Sans;
  font-weight: 400;
  letter-spacing: .2px;
  color: #f3f3f3;
  padding: 3px 15px 0px;
  font-size: 14px;
  opacity: 0.8;
}

.login-icon {
  background-color: $gold-med;
  padding: 7px;
}

.login-icon img {
  height: 18px;
  transform: translateZ(0px);
  opacity: 0.8;
}

.login-button:hover img, .login-button:hover span {
  opacity: 1;
}

.login-button:hover a {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

// ----------------------------------------------- //
// LOGIN DIALOGE BOX
// ----------------------------------------------- //

.login-modal {
  border: 1px solid #777;
  position: relative;
  transition: .5s;
  right: -500px;
  display: none;
  background: white;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
  min-width: 300px;
  max-width: 300px;
}

.login-modal-reveal {
  right: 0px;
  display: block;
}

#login-details-err {
  position: relative;
}

#login-attempt {
  margin: 10px 0 30px;
}

.login-dropdown {
  border: 1px solid #999;
  background: white;
  padding: 5px 0;
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.login-dropdown li {
  min-width: 140px;
  box-sizing: content-box;
  border-bottom: .5px solid #eee;
}

.login-dropdown a {
  padding: 5px 20px;
  display: block;
  color: #555;
  font-size: 16px;
  font-family: Alegreya Sans;
}

.login-dropdown a:hover {
  background: $blue-med;
  color: white;
  text-decoration: none;
}

.login-dropdown::after, .login-dropdown::before {
  bottom: 100%;
  content: "";
  left: 15%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.login-dropdown:after {
  border-color: rgba(0,0,0,0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -5px;
}

.login-dropdown:before{
  border-color: rgba(0,0,0,0);
  border-bottom-color: #999;
  border-width: 11px;
  margin-left: -6px;
}
