.relative {
  position: relative;
}

.flex-abs-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.pass-bullets {
  font-family: Arial !important;
}

.hidden {
  display: none;
  visibility: hidden;
}

.reveal {
  display: block !important;
  visibility: visible !important;
}
