// ----------------------------------------------- //
// GENERAL STYLE FORMATTING
// ----------------------------------------------- //

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.container-left-align {
  margin: 0;
}

.full-width {
  width: 100% !important;
}
.full-height {
  height: 100% !important;
}
.full-height-row {
  display: table;
}
.full-height-col {
  display: table-cell;
  float: none;
}

.fix-fill {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.abs-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dot-dot-dot{
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.clear-img {
  transform: translateZ(0px);
}

.flex-gen {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-abs-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-self-centered{
  align-self: center;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-col-end{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.free-link {
  font-family: Alegreya Sans;
  font-size: 14px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}


.hidden {
  display: none;
  visibility: hidden;
}

.reveal {
  display: block !important;
  visibility: visible !important;
}

.pointer {
  cursor: pointer;
}

.page-active {
  background-color: #f4f4f4 !important;
  color: #b3b5b7 !important;
  pointer-events: none;
}

.page-bottom {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.page-bottom div {
  padding-bottom: 5px;
}

.page-bottom a {
  font-size: 18px;
}

.dark-overlay-gen {
  font-family: Alegreya Sans, sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 500;
  background-color: rgba(0,0,0,0.4);
  padding: 100px 0;
  background-image: url('/assets/images/textures/60-lines.png');
}

.ds-gold {
  color: $admin-gold;
}
.ds-blue {
  color: $admin-blue;
}
.ds-green {
  color: $admin-green;
}
.ds-red {
  color: $admin-red;
}
.ds-trueblue {
  color: $admin-trueblue;
}
.ds-lightblue {
  color: $admin-lightblue;
}
.ds-ulightblue {
  color: $admin-ulightblue;
}
.ds-lightgrey {
  color: $admin-lightgrey;
}
.ds-medgrey {
  color: $admin-medgrey;
}

.button-red {
  background-color: $red-med !important;
  border: 2px solid $red-med !important;
}

.button-red:hover {
  background: white !important;
  border: 2px solid $red-med !important;
}

.ds-button {
  transition: .2s;
  width: auto;
  min-width: 120px;
  padding: 5px 15px;
  border-radius: 3px;
  font-family: Alegreya Sans Light;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.05), 0 2px 5px 0 rgba(0,0,0,.04);
  border: 1px solid;
}

.ds-button:hover {
  text-decoration: none;
  background-color: white;
  color: #333;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.15), 0 6px 20px 0 rgba(0,0,0,.14);
}

.ds-button:active {
  color: white;
  text-decoration: none;
  outline: none !important;
}
.ds-button:focus {
  color: white;
  text-decoration: none;
  outline: none !important;
}
.ds-button:focus:hover {
  color: #333;
}

.container {
  width: 1170px !important;
}

.button-gen {
  background-color: #559dad;
  border-color: #559dad;
  color: white;
}
.button-cancel {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #333;
}

.button-alt {
  background-color: #d7dcdd !important;
  color: #414042 !important;
  border: 1px solid #939598 !important;
}

.button-cancel:active {
  color: #333;
}
.button-alt:active {
  color: #414042;
}
.button-cancel:focus {
  color: #333;
}
.button-alt:focus {
  color: #414042;
}

.ds-button-large {
  background: #559dad;
  border-color: #559dad;
  color: white;
  padding: 5px;
  width: 100%;
}

.action-button {
  font-size: 16px;
  position: relative;
  font-family: Alegreya Sans;
  box-sizing: border-box;
}

.success-button {
    margin: 20px 0;
    padding: 8px 15px;
}

.button-locked {
  opacity: .6;
  cursor: default !important;
  pointer-events: none !important;
}

.button-locked img {
  background-image: url(/assets/images/icons/locked-padlock.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin: -4px 5px 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.shadow-close {
  box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}

.shadow-far {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.shadow-mix {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2),
              0px 2px 1px rgba(0,0,0,0.3);;
}

.font-light {
  font-weight: 100;
}
.font-med {
  font-weight: 300;
}
.font-normal {
  font-weight: 500;
}
.font-heavy {
  font-weight: 600;
}

a {
    color: #2ea1c5;
    text-decoration: none;
}

td, th {
  font-size: 16px;
}

.opaque {
  opacity: 0;
}
.visible {
  display: inline-block;
  visibility: visible;
}

.ds-tabs {
  border-bottom: 1px solid #ccc;
}


.ds-tabs > li > a {
  font-size: 18px;
  padding: 10px 20px;
}

.tab-active {
  border: 1px solid #ccc !important;
  border-bottom: 1px solid white !important;
}

.color-hazard {
  color: #c13f4d !important;
}
