/* cyrillic-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Alegreya Sans Light"), local("AlegreyaSans-Light"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aUh-D_8BP_tC4lNmJ_ilLtg.woff2") format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Alegreya Sans Light"), local("AlegreyaSans-Light"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aTjYviakkmRsxoG5s26aWbE.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Alegreya Sans Light"), local("AlegreyaSans-Light"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aTXHm-OZnPQ1kVWw9wMIeyo.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Alegreya Sans Light"), local("AlegreyaSans-Light"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9acYjh2EVkNZDr_zVmd7TI3U.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Alegreya Sans Light"), local("AlegreyaSans-Light"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9ac9SaW3tdaDfN7YJZ539VCk.woff2") format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Alegreya Sans Light"), local("AlegreyaSans-Light"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9abP5YdNLbv2Ph7c-yN9iHnU.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Alegreya Sans Light"), local("AlegreyaSans-Light"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aeNC-0xib1SK7Oln1iLdt4o.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans Regular"), local("AlegreyaSans-Regular"), url("/fonts/alegreya-sans/KYNzioYhDai7mTMnx_gDgjFiytk1W_Km1qe4AbeW1_0.woff2") format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans Regular"), local("AlegreyaSans-Regular"), url("/fonts/alegreya-sans/KYNzioYhDai7mTMnx_gDggvXXod_jVfFg6jHHDRgxdM.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans Regular"), local("AlegreyaSans-Regular"), url("/fonts/alegreya-sans/KYNzioYhDai7mTMnx_gDgvHZV89v8cmUMk-ZMbH3F0U.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans Regular"), local("AlegreyaSans-Regular"), url("/fonts/alegreya-sans/KYNzioYhDai7mTMnx_gDgi0P_y6zDlxuQBmkEfL2yAA.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans Regular"), local("AlegreyaSans-Regular"), url("/fonts/alegreya-sans/KYNzioYhDai7mTMnx_gDgt01sE-sBCcxeIPQ5nVmD-Y.woff2") format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans Regular"), local("AlegreyaSans-Regular"), url("/fonts/alegreya-sans/KYNzioYhDai7mTMnx_gDguo_hGDVFZ4kKx4ST9hVovI.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans Regular"), local("AlegreyaSans-Regular"), url("/fonts/alegreya-sans/KYNzioYhDai7mTMnx_gDgsmBRJoLbs7X6hY7yFEc97Q.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9ackUOgNBXBcKYSm-578Xdd8.woff2") format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9acc4H2E37cgNEPSRbt4lGfk.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9adPP0jnWp7L_Ymw1J9C4NRM.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aSJio3t6KogsH6TJsI1G0HM.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aa-4WGWUxW6iB9F1ud5NG84.woff2") format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aStaEaHGbET_jfOf1wWvOeM.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aVZp3tKiB9YnYzAIdkxupX8.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9afP81cUN4hg76jwHac303ZU.woff2") format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aQi8KwTUVqdYEA9_VNKaa5c.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aZnfo2aZPWUpENKcTEdgYBc.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aQh0u59kKxtb2DDf4tlbKG8.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aeM-raSl8_Jbtdwpx2yaBdM.woff2") format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aZa6PouP1CiMI7xm5Dvn5ZQ.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9acrysgx4XYXiGyd0rEkyLBs.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aaUQ0LNrcVpdjGllsiGQXr0.woff2") format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aWpL-hAS9EB_H2Dm-1GDuQ8.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aZUH6A9NVRWMufybtqV_anU.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aUXM6YcFoifypJKhPmlwAY8.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aWr-XwceRTrWw-Dcfd2rpWs.woff2") format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9afPI7llzpTvbw9FsJUCUVUY.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/alegreya-sans/11EDm-lum6tskJMBbdy9aVvTxhR-HurA7zKsTVg5Awk.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.fix-fill {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.abs-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dot-dot-dot {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.clear-img {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.flex-gen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-abs-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-row-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-row-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-col-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-col-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.free-link {
  font-family: Alegreya Sans;
  font-size: 14px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
  visibility: hidden;
}

.reveal {
  display: block !important;
  visibility: visible !important;
}

.pointer {
  cursor: pointer;
}

.page-active {
  background-color: #f4f4f4 !important;
  color: #b3b5b7 !important;
  pointer-events: none;
}

.page-bottom {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.page-bottom div {
  padding-bottom: 5px;
}

.page-bottom a {
  font-size: 18px;
}

.dark-overlay-gen {
  font-family: Alegreya Sans, sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px 0;
  background-image: url("/assets/images/textures/60-lines.png");
}

.button-red {
  background-color: #da3232 !important;
  border: 2px solid #da3232 !important;
}

.button-red:hover {
  background: white !important;
  border: 2px solid #da3232 !important;
}

.ds-button {
  -webkit-transition: .2s;
  transition: .2s;
  width: auto;
  min-width: 120px;
  padding: 5px 15px;
  border-radius: 3px;
  font-family: Alegreya Sans Light;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid;
}

.ds-button:hover {
  text-decoration: none;
  background-color: white;
  color: #333;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

.ds-button:active {
  color: white;
  text-decoration: none;
  outline: none !important;
}

.ds-button:focus {
  color: white;
  text-decoration: none;
  outline: none !important;
}

.ds-button:focus:hover {
  color: #333;
}

.container {
  width: 1170px !important;
}

.button-gen {
  background-color: #559dad;
  border-color: #559dad;
  color: white;
}

.button-cancel {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #333;
}

.button-alt {
  background-color: #d7dcdd !important;
  color: #414042 !important;
  border: 1px solid #939598 !important;
}

.button-cancel:active {
  color: #333;
}

.button-alt:active {
  color: #414042;
}

.button-cancel:focus {
  color: #333;
}

.button-alt:focus {
  color: #414042;
}

.ds-button-large {
  background: #559dad;
  border-color: #559dad;
  color: white;
  padding: 5px;
  width: 100%;
}

.action-button {
  font-size: 16px;
  position: relative;
  font-family: Alegreya Sans;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.success-button {
  margin: 20px 0;
  padding: 8px 15px;
}

.button-locked {
  opacity: .6;
  cursor: default !important;
  pointer-events: none !important;
}

.button-locked img {
  background-image: url(/assets/images/icons/locked-padlock.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin: -4px 5px 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.shadow-close {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.shadow-far {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.shadow-mix {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.font-light {
  font-weight: 100;
}

.font-med {
  font-weight: 300;
}

.font-normal {
  font-weight: 500;
}

.font-heavy {
  font-weight: 600;
}

a {
  color: #2ea1c5;
  text-decoration: none;
}

td,
th {
  font-size: 16px;
}

.opaque {
  opacity: 0;
}

.visible {
  display: inline-block;
  visibility: visible;
}

.ds-tabs {
  border-bottom: 1px solid #ccc;
}

.ds-tabs > li > a {
  font-size: 18px;
  padding: 10px 20px;
}

.tab-active {
  border: 1px solid #ccc !important;
  border-bottom: 1px solid white !important;
}

.border-panel {
  border: 1px solid #ababab !important;
}

.border-panel-light {
  border: 1px solid #ccc !important;
}

.grey-panel {
  background: #f4f4f4;
}

.floating-div {
  background: white;
  z-index: 10;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.beveled-div {
  -webkit-box-shadow: 0px 0px transparent;
          box-shadow: 0px 0px transparent;
  z-index: 1;
  position: relative;
  border-radius: 0;
  border: 1px solid #e2e2e2;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-ds-close {
  text-align: right;
  padding: 6px 10px;
  font-size: 16px;
  color: #777;
}

.modal-ds-content {
  padding: 20px 25px 15px;
}

.modal-ds-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-ds-button {
  -webkit-transition: .2s;
  transition: .2s;
  width: 60%;
  border-radius: 3px;
  border: #559dad 2px solid;
  font-family: Alegreya Sans Light;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  padding: 5px;
  color: white;
  background-color: #559dad;
}

.modal-ds-button:hover {
  -webkit-transition: .2s;
  transition: .2s;
  color: #444;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.ds-button-err {
  background-color: #f44;
  border: 2px solid #f44;
  color: white;
}

.modal-ds-link {
  font-family: Alegreya Sans;
  font-size: 13px;
  color: #559dad;
}

.empty-default {
  padding: 30px;
  background: #f7f7f7;
  color: #515252;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 30px 0;
}

.empty-default h4 {
  margin: 0 0 10px;
  font-size: 15px;
}

.empty-default p {
  font-size: 18px;
}

.panel-secure {
  border: 1px solid #666;
  border-radius: 5px;
  overflow: hidden;
}

.panel-secure .panel-heading {
  padding-right: 20px;
  border-bottom: 1px solid #c1c1c1;
  padding-left: 20px;
}

.panel-secure .panel-heading h2,
.panel-secure .panel-heading span {
  font-size: 24px;
  font-weight: 300;
  padding: 0;
}

.panel-secure .panel-body {
  padding: 15px 20px 20px;
}

.panel-secure .form-group {
  margin-bottom: 10px;
}

.panel-secure label {
  margin-bottom: 0 !important;
  font-weight: 500;
}

.panel-secure .ds-details-err {
  font-size: 14px !important;
  border-radius: 0 0 3px 3px !important;
  padding: 8px 0 8px 34px !important;
  top: -1px !important;
  color: #cc3636 !important;
  margin-bottom: 0 !important;
}

.panel-secure .input-hazard {
  top: -7px !important;
}

.panel-secure .ds-form-errmsg {
  margin-bottom: -15px;
}

.panel-secure-inner {
  padding: 20px 15px;
}

.panel-secure-inner h5 {
  font-size: 22px;
  margin-top: 0;
}

.panel-secure p {
  font-size: 18px;
  margin: 0 0 5px;
}

.payment-input label {
  font-size: 16px;
  font-weight: 400;
}

.payment-input .input-group-addon {
  font-size: 22px;
}

.payment-input input {
  font-size: 22px;
  font-weight: 400;
  padding: 22px 10px;
}

.payment-input select {
  font-size: 18px;
  font-weight: 400;
  height: 46px;
  width: 62px;
  padding: 0 5px;
}

.payment-input h5 {
  margin: 0px 0 0;
  font-weight: 100;
  font-size: 30px;
}

.payment-type {
  margin-bottom: 22px;
}

.payment-type input {
  position: relative;
  top: 3px;
  margin: 4px 2px 0 0;
}

.credit-input {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 10px;
}

.pass-reveal img {
  width: 16px;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  opacity: 0.5;
}

.pass-reveal:hover img {
  opacity: 0.8;
}

.pass-reveal:hover {
  background-color: #f4f4f4;
}

.ds-form-errmsg {
  position: relative;
  width: 100%;
  display: none;
  top: -8px;
  font-size: 14px;
  font-family: Alegreya Sans;
  color: #ca3c3c;
}

.inline-hazard {
  -webkit-transition: .1s;
  transition: .1s;
  width: 16px;
  display: none;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  position: relative;
  top: -1px;
  left: 5px;
}

.inline-success {
  -webkit-transition: .2s;
  transition: .2s;
  width: 16px;
  opacity: .8;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  position: relative;
  top: -1px;
  left: 5px;
}

.inline-warning {
  position: relative;
  width: 16px;
  height: 16px;
  background: #f0ad4e;
  border-radius: 50%;
  color: white;
  margin: 0 5px;
}

.inline-warning p {
  margin-top: 1px !important;
}

.ds-show-errmsg {
  display: inline-block;
}

.ds-form-error {
  border: 1px solid #de8f8f !important;
  background: #f7e9e9 !important;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 10px;
}

.ds-details-err {
  font-size: 13px !important;
  padding: 15px 0 15px 34px !important;
  color: #cc3636;
  border-radius: 5px;
}

.input-hazard {
  width: 18px;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  position: absolute;
  margin: 18px 10px;
  top: 0;
  left: 0;
}

.input-add-errparent {
  border-radius: 3px 3px 0 0 !important;
  border: 1px solid #de8f8f !important;
}

.input-add-err {
  position: relative;
}

.input-add-err .ds-details-err {
  font-size: 14px !important;
  border-radius: 0 0 3px 3px !important;
  top: -10px;
  color: #cc3636 !important;
  margin-bottom: 0 !important;
}

.input-add-err .input-hazard {
  top: -15px;
}

.modal-ds-label {
  background: -webkit-gradient(linear, left top, right top, from(#333), to(#777));
  background: linear-gradient(to right, #333, #777);
}

.modal-ds-label h5 {
  color: white;
  font-size: 24px;
  font-family: Alegreya Sans;
  font-weight: 100;
  padding: 5px 30px;
}

.beveled-input input {
  border: 0px solid;
  -webkit-box-shadow: 0px 0px transparent;
  box-shadow: 0px 0px transparent;
  outline: none !important;
  padding: 0px 0px 5px;
  border-radius: 0;
  margin: 0;
  height: 20px;
  bottom: -5px;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
}

.beveled-input a {
  margin: 5px 0;
}

.beveled-input input:focus {
  outline: none;
  border-bottom: 1px solid #3097D1;
  -webkit-box-shadow: 0px 0px transparent;
          box-shadow: 0px 0px transparent;
}

.beveled-input label {
  margin-bottom: 0px;
  position: relative;
  top: 2px;
  font-size: 12px;
}

.beveled-input .zip-autofill {
  top: 2px;
}

.beveled-input {
  min-height: 47px;
  width: 100%;
  padding: 3px 15px 0px;
  border-bottom: 1px solid #e2e2e2;
}

.beveled-input .ds-form-error {
  background: transparent !important;
  border: 0px solid !important;
  color: #bf6b6b;
  border-bottom: 1px solid #de8f8f !important;
}

.beveled-err {
  background: #f7e9e9 !important;
}

.zip-bundle {
  position: relative;
  margin: 0;
  padding: 0;
}

.zip-autofill {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
  text-align: right;
  width: 150px;
  opacity: 0.7;
  top: 0px;
  right: 0px;
  position: absolute;
}

.pass-bullets {
  font-family: Arial !important;
}

.material-input-group {
  position: relative;
  padding: 15px 0 0 0;
}

.material-input {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding-left: 0;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  background: transparent;
  -webkit-box-shadow: 0 0 0 transparent !important;
          box-shadow: 0 0 0 transparent !important;
  border: 0px solid;
  border-bottom: 1px solid #cacaca;
  border-radius: 0;
}

.material-input:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 transparent !important;
          box-shadow: 0 0 0 transparent !important;
  border-bottom: 1px solid #3097D1;
}

.material-label {
  margin: 0;
  position: absolute;
  top: 15px;
  font-weight: 300;
  color: #5a5a5a;
  font-size: 20px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.material-label-focus {
  top: 0px;
  font-size: 14px;
  font-weight: 400;
}

.material-input-group .active {
  color: #3097D1;
}

.material-input-group .ds-form-error {
  color: #ca3c3c !important;
  border: 0px solid #de8f8f !important;
  border-bottom: 1px solid #de8f8f !important;
  background: rgba(255, 255, 255, 0) !important;
}

.material-input-group .ds-form-errmsg {
  margin-bottom: -10px;
}

.label-err {
  color: #ca3c3c !important;
}

.inline-material-input {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  height: 20px;
  position: relative;
  bottom: 6px;
  margin: 5px;
  background: transparent;
  -webkit-box-shadow: 0 0 0 transparent !important;
          box-shadow: 0 0 0 transparent !important;
  border: 0px solid;
  border-bottom: 1px solid #cacaca;
}

.inline-material-input:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 transparent !important;
          box-shadow: 0 0 0 transparent !important;
  border-bottom: 1px solid #3097D1;
}

.form-inline {
  margin-bottom: 5px !important;
}

.material-form-group .ds-form-error {
  color: #ca3c3c !important;
  width: auto !important;
  border: 0px solid #de8f8f !important;
  border-bottom: 1px solid #de8f8f !important;
  background: rgba(255, 255, 255, 0) !important;
}

.material-form-group .ds-form-errmsg {
  font-size: 12px;
  margin-top: -4px;
  margin-left: 5px;
}

.select-default {
  color: #aaa;
}

.overlay-near-shadow {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.overlay-rounded-wrapper {
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: white;
  border-radius: 10px;
}

.rounded-wrapper {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  border-radius: 10px;
}

.rounded-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #444;
  margin: 25px 0 5px;
}

.rounded-subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  color: #666;
  margin-bottom: 20px;
}

.rounded-content {
  padding: 0 30px 30px;
}

.rounded-close {
  font-size: 24px;
  font-weight: 100;
  padding: 10px 15px 0;
  color: #777;
}

.rounded-close:hover {
  text-decoration: none;
  color: #333;
}

.overlay-content-wide {
  padding: 30px;
}

.overlay-wide-header {
  font-size: 32px;
  font-weight: 100;
}

.overlay-wide-msg {
  font-size: 18px;
  font-weight: 100;
}

.overlay-wide-button {
  margin: 15px 5px 0;
  width: 33%;
  min-width: 33%;
}

.overlay-wide-close {
  font-size: 30px;
  font-weight: 100;
  padding: 20px 25px 0;
  text-decoration: none !important;
}

.overlay-loader {
  padding: 20px;
  max-width: 300px;
}

.overlay-loader-msg {
  text-align: left !important;
  padding: 15px 0;
  max-width: 250px;
}

.overlay-loader-msg p {
  text-align: left !important;
  font-weight: 100;
  font-size: 20px;
  margin: 0 30px 0 0;
  line-height: 1.2;
}

.overlay-loader-msg h3 {
  text-align: left !important;
  font-weight: 400;
  font-size: 22px;
  margin: 0 30px 5px 0;
}

.spinner {
  -webkit-animation: rotation 1.4s linear infinite;
  animation: rotation 1.4s linear infinite;
  stroke: #559dad;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.circle {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: turn 1.4s ease-in-out infinite;
  animation: turn 1.4s ease-in-out infinite;
}

@-webkit-keyframes turn {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes turn {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

.overlay-pwreset {
  text-align: center;
  max-width: 300px;
}

.overlay-pwreset h3 {
  margin: 10px 0 30px;
}

.overlay-pwreset p {
  margin: 0px 0 20px;
}

#public-pwreset-form input {
  text-align: center;
}

.success-check-bubble {
  margin-bottom: 30px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #559dad;
}

.success-button {
  margin: 20px 0;
}

.success-button:hover {
  text-decoration: none;
}

.overlay-success {
  width: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay-success .overlay-wide-header {
  margin: 0 0 10px;
  font-size: 36px;
  color: #333;
}

.overlay-success .overlay-wide-msg {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 300;
}

.overlay-subscript {
  font-size: 16px;
  font-weight: 500;
  color: #aaa;
  margin: 0 !important;
}

.overlay-subscript-xs {
  font-size: 20px;
  font-weight: 300;
  color: #aaa;
  margin-bottom: 10px;
}

.checkmark {
  width: 150px;
  position: absolute;
  margin-top: -24px;
}

.check-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 4s ease-in-out;
  -webkit-animation: dash 4s ease;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.helper-modal {
  z-index: 20;
  position: absolute;
  padding: 10px;
  background: #ebf0f1;
  border-radius: 5px;
  margin-left: -10px;
  border: 1px solid #c3ced0;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.helper-modal::after,
.helper-modal::before {
  bottom: 100%;
  content: "";
  left: 15%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.helper-modal:after {
  border-color: transparent;
  border-bottom-color: #ebf0f1;
  border-width: 10px;
  margin-left: -5px;
}

.helper-modal:before {
  border-color: transparent;
  border-bottom-color: #c3ced0;
  border-width: 11px;
  margin-left: -6px;
}

.helper-modal p {
  font-size: 15px;
  text-align: left;
  font-weight: 100;
  line-height: 1.4;
}

.helper-err p {
  color: #c62e35;
  display: inline-block;
  margin: 0;
}

.helper-err {
  margin-top: 10px;
  background: #ffeeee;
  border: 1px solid #c62e35;
}

.helper-err:after {
  border-bottom-color: #ffeeee;
}

.helper-err:before {
  border-bottom-color: #c62e35;
}

.traveler-modal-container {
  margin-bottom: 15px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #f4f4f4;
  border-radius: 5px;
  max-height: 29px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.profile-traveler-modal {
  max-height: 35px;
  width: 100%;
}

.traveler-modal-title,
.traveler-modal-add {
  width: 100%;
  background: #808285;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  padding: 5px 10px;
}

.traveler-warning {
  position: relative;
}

.traveler-warning .traveler-modal-title {
  background: #ca5e5e;
}

.traveler-warning::after {
  content: "!";
  background: #c31313;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: -5px;
}

.traveler-modal-add {
  margin: 0 0 15px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 5px;
  background: #c0c3c7;
}

.traveler-modal-add:hover {
  background: #808285;
}

.traveler-modal-add:not(hover) {
  -webkit-transition: .0s;
  transition: .0s;
  background: #c0c3c7;
}

.traveler-modal-title span,
.traveler-modal-add span {
  color: white;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  width: 100%;
}

.traveler-modal-details {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  text-align: left;
  margin: 15px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  z-index: 1;
}

.traveler-input {
  padding: 10px !important;
}

.traveler-select {
  /* styling */
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  font-size: 18px !important;
  padding: 6px 10px !important;
  /* reset */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.traveler-select option {
  background: white;
  padding: 10px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}

.traveler-select:focus {
  background-image: linear-gradient(45deg, #ccc 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #ccc 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

.traveler-modal-details h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin: 10px 0 5px;
}

.expander {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  overflow-y: hidden;
}

.expander-header {
  border-radius: 5px 5px 0 0;
}

.expander-content {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin: -1px auto -1px;
}

.flex-arrow {
  width: 16px;
  position: relative;
}

.flex-arrow div {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: white;
  position: absolute;
  top: 50%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.flex-arrow div:first-child {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.flex-arrow div:last-child {
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(270deg);
          transform: translateY(-50%) translateX(-50%) rotate(270deg);
}

.flex-arrow-minus div:first-child {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.flex-arrow-minus div:last-child {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

/*form styles*/

#msform {
  width: 450px;
  margin: 50px auto;
  text-align: center;
  position: absolute;
  top: 100px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: absolute;
}

/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/

#msform input,
#msform textarea {
  padding: 14px 12px;
  border: 1px solid #ccc;
  max-width: 300px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Alegreya Sans;
  color: #2C3E50;
  font-size: 16px;
}

/*buttons*/

#msform .action-button {
  width: 100px;
  background: #559dad;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 20px 5px 10px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 3px #559dad;
          box-shadow: 0 0 0 2px white, 0 0 0 3px #559dad;
}

.msform-close {
  position: absolute;
  right: 6px;
  top: 16px;
}

/*headings*/

.fs-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #444;
  margin: 25px 0 5px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/

#progressbar {
  margin: 0 auto 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/

/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
  background: #559dad;
  color: white;
}

.register-zf {
  position: absolute;
  right: 45px;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  text-align: right;
  margin-top: -46px;
  font-size: 18px;
  color: #bbbbbb;
}

#register-loader,
#register-success {
  width: 80%;
  margin: 0 10%;
}

#register-success .overlay-success {
  width: auto !important;
}

.register-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset;
}

.register-input,
.modal-ds-form textarea,
.register-input {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 20px;
  padding: 8px 0 8px 15px;
  font-family: Alegreya Sans Light;
  background: #f5f5f5;
  margin: 0 0 10px;
}

.register-input:focus,
.modal-ds-form textarea:focus {
  outline: 0;
}

.register-input:not(focus)::-webkit-input-placeholder,
.modal-ds-form textarea:not(focus)::-webkit-input-placeholder {
  -webkit-transition: .2s;
  transition: .2s;
  color: #999;
}

.register-input:focus::-webkit-input-placeholder,
.modal-ds-form textarea:focus::-webkit-input-placeholder {
  -webkit-transition: .2s;
  transition: .2s;
  color: #ddd;
  text-align: right;
  padding: 10px;
}

.register-input:not(focus)::-moz-placeholder,
.modal-ds-form textarea:not(focus)::-moz-placeholder {
  -moz-transition: .2s;
  color: #999;
}

.register-input:focus::-moz-placeholder,
.modal-ds-form textarea:focus::-moz-placeholder {
  -moz-transition: .2s;
  color: #ddd;
  text-align: right;
  padding: 10px;
}

.register-input:-ms-input-placeholder,
.modal-ds-form textarea:-ms-input-placeholder {
  -webkit-transition: .2s !important;
  transition: .2s !important;
  color: #999 !important;
}

.register-input:not(focus)::-ms-input-placeholder,
.modal-ds-form textarea:not(focus)::-ms-input-placeholder {
  -webkit-transition: .2s;
  transition: .2s;
  color: #999;
}

.register-input:focus::-ms-input-placeholder,
.modal-ds-form textarea:focus::-ms-input-placeholder {
  -webkit-transition: .2s;
  transition: .2s;
  color: #ddd;
  text-align: right;
  padding: 10px;
}

.login-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400;
  margin: 25px 30px 0 0;
}

.login-container > div {
  display: inline-block;
  float: right;
  clear: both;
}

.login-button * {
  -webkit-transition: .2s;
  transition: .2s;
}

.login-button-active .login-icon {
  background: #559dad !important;
  opacity: 1 !important;
}

.login-button-active span {
  color: #333 !important;
  opacity: 1 !important;
}

.login-button-active {
  background: white !important;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
}

.login-button {
  background: #757575;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  border: 1px solid #757575;
}

.login-button span {
  text-transform: uppercase;
  font-family: Alegreya Sans;
  font-weight: 400;
  letter-spacing: .2px;
  color: #f3f3f3;
  padding: 3px 15px 0px;
  font-size: 14px;
  opacity: 0.8;
  min-width: 90px;
}

.login-icon {
  background-color: #cb9853;
  padding: 7px;
}

.login-icon img {
  height: 18px;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  opacity: 0.8;
}

.login-button:hover img,
.login-button:hover span {
  opacity: 1;
}

.login-button:hover a {
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.login-modal {
  border: 1px solid #777;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  right: -500px;
  display: none;
  background: white;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  max-width: 300px;
}

.login-modal-reveal {
  right: 0px;
  display: block;
}

#login-details-err {
  position: relative;
}

#login-attempt {
  margin: 10px 0 30px;
}

.login-dropdown {
  border: 1px solid #999;
  background: white;
  padding: 5px 0;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.login-dropdown li {
  min-width: 140px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-bottom: .5px solid #eee;
}

.login-dropdown a {
  padding: 5px 20px;
  display: block;
  color: #555;
  font-size: 16px;
  font-family: Alegreya Sans;
}

.login-dropdown a:hover {
  background: #559dad;
  color: white;
  text-decoration: none;
}

.login-dropdown::after,
.login-dropdown::before {
  bottom: 100%;
  content: "";
  left: 15%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.login-dropdown:after {
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -5px;
}

.login-dropdown:before {
  border-color: transparent;
  border-bottom-color: #999;
  border-width: 11px;
  margin-left: -6px;
}

