
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// App Colors
$gold-med: #cb9853;
$gold-pale: #f3b868;
$blue-med: #4b95b7;
$red-med: #d63142;
$red-pale: #ca5e5e;
$red-light: #d63142;

// Greys
$grey-paleblue: #e4e7e8;
$off-white: #f4f4f4;

// Admin color's
$admin-gold: #cb9853;
$admin-blue: $blue-med;
$admin-trueblue: #527cbd;
$admin-green: #6fc99d;
$admin-red: #d63142;
$admin-lightblue: #7db4ce;
$admin-ulightblue: #aed2e2;
$admin-lightgrey: #a9a9a9;
$admin-medgrey: #52585a;
