.admin-feature-link {
  color: $admin-blue;
  font-weight: 300;
  font-size: 24px;
  position: relative;
  padding-left: 25px;
  top: 10px;
  text-decoration: none !important;
}
.admin-feature-link span {
  transition: .3s ease;
  margin-top: -14px;
  font-size: 43px;
  position: absolute;
  left: 0;
  transform: rotate(0deg);
}

.admin-feature-link:hover span {
  transform: rotate(180deg);
}

.admin-section-subtext {
  color: #979e9e;
  font-size: 26px;
  font-weight: 300 !important;
}

.admin-section-subtext.subtext-close {
  margin-top: -8px;
  font-size: 18px;
}

.payment-key {
  width: 15px;
  height: 15px;
  position: relative;
  top: 10px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  margin-right: 5px;
}

.payment-key.captured {
  background: #7db4ce;
}

.payment-key.projected {
  background: #aed2e2;
}

.summary-key {
  width: 12px;
  height: 12px;
  background: #aed2e2;
  align-self: center;
  border-radius: 50%;
  margin: 5px 10px 0 5px;
}

.summary-key.travelers {
  background: #e9cfb0;
}

.summary-key.projected {
  background: #aed2e2;
}

.summary-key.captured {
  background: #7db4ce;
}

#summary-chart-container{
  position: relative;
  z-index: 4;
}

.chart-scubbers {
  position: relative;
  z-index: 5;
  margin:-13px 6px -19px 3px;
}

.chart-scubbers i {
  font-size: 24px;
  color: #c9d0d2;
}

.chart-scubbers a:hover i {
  color: $blue-med;
}

.dashboard-select select {
  font-size: 26px;
  padding: 0;
  top: -3px;
  left: 3px;
  color: #979e9e;
}

.dashboard-select option {
  font-weight: 100;
}
