.admin-content {
  position: relative;
  top: -120px;
}

.admin-floating-panel {
  background: white;
  border-radius: 5px;
  padding: 30px 50px 50px;
}

.admin-container {
  margin: 0;
}

.admin-section-header {
  color: $admin-gold;
}
