.admin-content {
  transition: .3s ease;
  min-height: 100vh;
  position: relative;
  top: -120px;
}

@media screen and (max-width: 1490px) {
  .admin-content {
    top: 15px;
  }
}

.admin-floating-panel {
  background: white;
  border-radius: 5px;
  padding: 30px 50px 50px;
  color: #525f64;
  margin-bottom: 30px;
}

.admin-container {
  margin: 0;
}

.admin-section-header {
  color: $admin-gold;
  font-weight: 300;
}

.admin-section-subheader {
  color: $admin-gold;
  font-weight: 300;
}

.admin-helper {

}

.admpage-active {
  box-shadow: 0 1px;
  border-radius: 0 !important;
  padding: 0 !important;
  margin-right: 5px
}

.admin-floating-panel .page-bottom {
  margin: 0;
  border-color: rgba(0,0,0,0);
}

.admin-split-panel {
  background: white;
  border-radius: 5px;
}

.split-panel-header {
  padding: 30px 50px 0;
  background: #fff;
  border-radius: 5px 5px 0 0;
}
.split-panel-content {
  min-height: 500px;
  padding: 30px 50px 30px;
  background: #f7f7f7;
  border-top:  1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

.split-panel-link {
  color: #828d90;
  font-size: 20px;
  padding: 0 15px 6px;
  font-weight: 100;
}

.split-panel-link:hover, .split-panel-link.active {
  color: #2ea1c5;
}

.split-nav-focus {
  background: #2ea1c5;
  height: 2px;
  width: 102px;
  transition: .2s ease;
  left: 0;
  position: relative;
}

.null-results-container {
  padding: 50px 30px 50px;
  position: relative;
  border-top: 1px solid #cccccc;
  top: -30px;
}

.null-results {
  padding: 30px 50px;
}

.null-results-suggestions {
  padding: 10px 50px;
}

.null-results-suggestions ul {
  padding: 0 20px 20px;
}

.null-results-suggestions li {
  font-size: 16px;
  list-style-type: disc !important;
}
