// Dividers

.border-panel {
  border: 1px solid #ababab !important;
}
.border-panel-light {
  border: 1px solid #ccc !important;
}

.grey-panel {
  background: $off-white;
}

.floating-div {
  background: white;
  z-index: 10;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  width: 100%;
}

.beveled-div {
  box-shadow: 0px 0px transparent;
  z-index: 1;
  position: relative;
  border-radius: 0;
  border: 1px solid #e2e2e2;
  width: 100%;
  box-sizing: border-box;
}

.modal-ds-close {
  text-align: right;
  padding: 6px 10px;
  font-size: 16px;
  color: #777
}

.modal-ds-content {
  padding: 20px 25px 15px;
}

.modal-ds-form {
  display: flex;
  flex-direction: column;
}

.modal-ds-button {
    transition: .2s;
    width: 60%;
    border-radius: 3px;
    border: #559dad 2px solid;
    font-family: Alegreya Sans Light;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    padding: 5px;
    color: white;
    background-color: $blue-med;
}

.modal-ds-button:hover{
    transition: .2s;
    color: #444;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.ds-button-err {
  background-color: #f44;
  border: 2px solid #f44;
  color: white;
}

.modal-ds-link {
  font-weight: 400;
  font-family: Alegreya Sans;
    font-size: 13px;
    color: $blue-med;
}

.empty-default {
  padding: 30px;
  background: #f7f7f7;
  color: #515252;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 30px 0;
}
.empty-default h4 {
  margin: 0 0 10px;
  font-size: 15px;
}
.empty-default p {
  font-size: 18px;
}

.panel-secure {
  border: 1px solid #666;
  border-radius: 5px;
  overflow: hidden;
}
.panel-secure .panel-heading {
  padding-right: 20px;
  border-bottom: 1px solid #c1c1c1;
  padding-left: 20px;
}
.panel-secure .panel-heading h2,
.panel-secure .panel-heading span {
  font-size: 24px;
  font-weight: 300;
  padding: 0;
}
.panel-secure .panel-body{
  padding: 15px 20px 20px;
}
.panel-secure .form-group{
  margin-bottom: 10px;
}
.panel-secure label{
  margin-bottom: 0 !important;
  font-weight: 500;
}
.panel-secure .ds-details-err {
    font-size: 14px !important;
    border-radius: 0 0 3px 3px !important;
    padding: 8px 0 8px 34px !important;
    top: -1px !important;
    color: #cc3636 !important;
    margin-bottom: 0 !important;
}
.panel-secure .input-hazard {
    top: -7px !important;
}
.panel-secure .ds-form-errmsg {
  margin-bottom: -15px;
}
.panel-secure-inner {
  padding: 20px 15px;
}
.panel-secure-inner h5 {
  font-size: 22px;
  margin-top: 0;
}
.panel-secure p {
  font-size: 18px;
  margin: 0 0 5px;
}

.panel-scroll {
    padding: 10px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}

.pass-reveal img {
  width: 16px;
  transform: translateZ(0px);
  opacity: 0.5;
}
.pass-reveal:hover img {
  opacity: 0.8;
}
.pass-reveal:hover {
  background-color: #f4f4f4;
}

// Cards

.full-card {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px #ccc;
}

.hz-card {
  display: inline-block;
  min-width: 200px;
  border-bottom: 0px solid;
  padding: 10px;
  color: #636b6f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px #ccc;
  margin: 0 10px 10px 0;
  transition: .2s ease;
}

.hz-card.card-active {
  border-bottom: 3px solid $admin-blue;
  padding-bottom: 8px;
}

.hz-card:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px #ccc;
}

.card-label {
  font-weight: 600;
  color: #636363;
  font-size: 14px;
  margin-bottom: -5px;
}

.card-content {
  font-size: 16px;
}

.card-custom.message-contain {
  border-left: 1px solid #e2e2e2;
  padding-right: 0;
}

.card-custom.custom-message {
  font-size: 14px;
  height: 75px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-custom.custom-message::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 !important;
  box-shadow: inset 0 0 !important;
	background-color: #fff;
}

.card-custom.custom-message::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.card-custom.custom-message::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background-color: #cdcfd2;
}

// Card carousel
.card-carousel {
  z-index: 2;
  width: 110%;
  padding: 5px 5px;
  overflow: hidden;
  margin-top: 15px;
  position: relative;
  left: -5px;
}

.carousel-controls {
  width: 104%;
  position: absolute;
  padding: 8px 0;
  top: 0;
  left: -2%;
}

.carousel-shield {
  height: 80px;
  top: -10px;
  z-index: 1;
  width: 70px;
  position: absolute;
}

.carousel-button, .carousel-button button {
  outline: none !important;
}

.carousel-shield.left {
  background: linear-gradient(to right, #fff, 80%, rgba(0,0,0,0));
}

.carousel-shield.right {
  background: linear-gradient(to left, #fff, 80%, rgba(0,0,0,0));
}

.carousel-controls button {
  opacity: .9;
  border: 1px solid #ccc;
}

.carousel-controls button i {
  color: #808285;
}

.carousel-controls button:hover {
  opacity: 1;
}

.card-carousel-reel {
  left: 0;
  white-space: nowrap;
  position: relative;
  transition: .3s ease;
}
