
// DS STANDARD FORM

.ds-form-errmsg {
  position: relative;
  width: 100%;
  display: none;
  top: -8px;
  font-size: 14px;
  font-family: Alegreya Sans;
  color: #ca3c3c;
}

.ds-errmsg-gen {
  font-size: 14px;
  font-family: Alegreya Sans;
  color: #ca3c3c;
}

.form-bundle {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px;
}

.default-option {
  color: #aaa;
}

.inline-hazard {
  transition: .1s;
  width: 16px;
  display: none;
  transform: translateZ(0px);
  position: relative;
  top: -1px;
  left: 5px;
}
.inline-success {
  transition: .2s;
  width: 16px;
  opacity: .8;
  transform: translateZ(0px);
  position: relative;
  top: -1px;
  left: 5px;
}
.inline-warning {
  position: relative;
  width: 16px;
  height: 16px;
  background: #f0ad4e;
  border-radius: 50%;
  color: white;
  margin: 0 5px;
}
.inline-warning p {
  margin-top: 1px !important;
}

.ds-show-errmsg {
  display: inline-block;
}

.ds-form-error {
  border: 1px solid #de8f8f !important;
  background: #f7e9e9 !important;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 10px;
}

.ds-details-err {
  font-size: 13px !important;
  padding: 15px 0 15px 34px !important;
  color: #cc3636;
  border-radius: 5px;
}

.input-hazard {
  width: 18px;
  transform: translateZ(0px);
  position: absolute;
  margin: 18px 10px;
  top: 0;
  left: 0;
}

.input-add-errparent {
  border-radius: 3px 3px 0 0 !important;
  border: 1px solid #de8f8f !important;
}

.input-add-err {
  position: relative;
}

.input-add-err .ds-details-err {
  font-size: 14px !important;
  border-radius: 0 0 3px 3px !important;
  top: -10px;
  color: #cc3636 !important;
  margin-bottom: 0 !important;
}

.input-add-err .input-hazard {
  top: -15px;
}


.modal-ds-label {
  background: linear-gradient(to right, #333, #777);
}

.modal-ds-label h5 {
  color: white;
  font-size: 24px;
  font-family: Alegreya Sans;
  font-weight: 100;
  padding: 5px 30px;
}

// BEVELED FORM

.beveled-input input {
    border: 0px solid;
    -webkit-box-shadow: 0px 0px transparent;
    box-shadow: 0px 0px transparent;
    outline: none !important;
    padding: 0px 0px 5px;
    border-radius: 0;
    margin: 0;
    height: 20px;
    bottom: -5px;
    position: relative;
    border-bottom: 1px solid #e2e2e2;
}
.beveled-input a {
  margin: 5px 0;
}
.beveled-input input:focus {
  outline: none;
  border-bottom: 1px solid #3097D1;
  box-shadow: 0px 0px rgba(0,0,0,0);
}
.beveled-input label {
  margin-bottom: 0px;
  position: relative;
  top: 2px;
  font-size: 12px;
}
.beveled-input .zip-autofill {
  top: 2px;
}
.beveled-input {
  min-height: 47px;
  width: 100%;
  padding: 3px 15px 0px;
  border-bottom: 1px solid #e2e2e2;
}
.beveled-input .ds-form-error {
  background: rgba(0,0,0,0) !important;
  border: 0px solid !important;
  color: #bf6b6b;
  border-bottom: 1px solid #de8f8f !important;
}
.beveled-err {
  background: #f7e9e9 !important;
}

// CUSTOM FORM ELEMENTS

.zip-bundle {
  position: relative;
  margin: 0;
  padding: 0;
}
.zip-autofill {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
  text-align: right;
  width: 150px;
  opacity: 0.7;
  top: 0px;
  right: 0px;
  position: absolute;
}
.pass-bullets {
  font-family: Arial !important;
}

// Material forms

.material-input-group {
  position: relative;
  padding: 15px 0 0 0;
}

.material-input {
  transition: .2s ease;
  padding-left: 0;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  background: transparent;
  box-shadow: 0 0 0 transparent !important;
  border: 0px solid;
  border-bottom: 1px solid #cacaca;
  border-radius: 0;
}

.material-input:focus {
  outline: none !important;
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
  border-bottom: 1px solid #3097D1;
}

.material-label {
  margin: 0;
  position: absolute;
  top: 15px;
  font-weight: 300;
  color: #5a5a5a;
  font-size: 20px;
  transition: .2s ease;
}

.material-label-focus {
  top: 0px;
  font-size: 14px;
  font-weight: 400;
}

.material-input-group .active {
 color: #3097D1;
}
.material-input-group .ds-form-error{
  color: #ca3c3c !important;
  border: 0px solid #de8f8f !important;
  border-bottom: 1px solid #de8f8f !important;
  background: rgba(255, 255, 255, 0) !important;
}
.material-input-group .ds-form-errmsg{
  margin-bottom: -10px;
}
.label-err {
  color: #ca3c3c !important;
}

.inline-material-input {
  transition: .2s ease;
  height: 20px;
  position: relative;
  bottom: 6px;
  margin: 5px;
  background: rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
  border: 0px solid;
  border-bottom: 1px solid #cacaca;
}
.inline-material-input:focus {
  outline: none !important;
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
  border-bottom: 1px solid #3097D1;
}
.form-inline {
  margin-bottom: 5px !important;
}
.material-form-group .ds-form-error{
  color: #ca3c3c !important;
  width: auto !important;
  border: 0px solid #de8f8f !important;
  border-bottom: 1px solid #de8f8f !important;
  background: rgba(255, 255, 255, 0) !important;
}
.material-form-group .ds-form-errmsg{
  font-size: 12px;
  margin-top: -4px;
  margin-left: 5px;
}
.select-default {
  color: #aaa;
}

.material-input-large label {
  font-size: 18px;
  font-weight: 300;
  color: $admin-lightgrey;
  margin-right: 5px;
}

.material-input-large .material-label-focus {
    top: -2px;
}

.inline-material-large{

}
.inline-material-large label {
  font-size: 24px;
  font-weight: 400;
  color: $admin-lightgrey;
  margin-right: 5px;
}

.inline-material-large input {
  position: relative;
  font-size: 32px;
  color: $admin-medgrey;
  bottom: 5px;
  max-width: 150px;
}
.material-large-err input {
  border-color: #de8f8f !important;
  color: #ca3c3c !important;
}

.material-large-err label {
  color: #ca3c3c !important;
}

.material-large-err small {
  color: #ca3c3c !important;
}

.material-input optgroup {
  font-weight: 500;
  font-size: 18px;
  color: #525f64;
}

.material-input option {
  color: #525f64;
}

.payment-input label {
  font-size: 16px;
  font-weight: 400;
}
.payment-input .input-group-addon {
  font-size: 22px;
}
.payment-input input {
  font-size: 22px;
  font-weight: 400;
  padding: 22px 10px;
}
.payment-input select {
  font-size: 18px;
  font-weight: 400;
  height: 46px;
  width: 62px;
  padding: 0 5px;
}
.payment-input h5 {
  margin: 0px 0 0;
  font-weight: 100;
  font-size: 30px;
}
.payment-type {
  margin-bottom: 22px;
}
.payment-type input {
  position: relative;
  top: 3px;
  margin: 4px 2px 0 0;
}
.credit-input {
    font-size: 20px;
    font-weight: 400;
    padding: 20px 10px;
}

.modal-popup-form label {
  font-size: 16px;
  font-weight: 400;
}
.modal-popup-form .input-group-addon {
  font-size: 22px;
}
.modal-popup-form input {
  font-size: 18px;
  font-weight: 400;
  padding: 22px 10px;
}
.modal-popup-form select {
  font-size: 16px;
  padding: 5px;
}
.modal-popup-form option {
  padding: 5px;
  border-radius: 3px;
}
.modal-popup-form h5 {
  margin: 0px 0 0;
  font-weight: 100;
  font-size: 30px;
}
