// Frame
body {
  background-image: url("/assets/public/img/burlap-transparent.jpg");
  background-repeat: repeat;
  font-family: Alegreya Sans, sans-serif;
  font-size: 14px;
  background-attachment: fixed;
  overflow-x: hidden;
}

td, th {
  font-size: 16px;
}

a {
    font-size: 18px;
    font-weight: 300;
    color: $blue-med;
    text-decoration: none !important;
}

.user-main-content {
  min-height: 500px !important;
}

.backgroundtop {
    top: 0px;
    height: auto;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 1;
    position: absolute;
}
.backgroundtop img {
    width: 100%;
    min-width: 1185px;
}
.footer2 {
  background-image: url(/assets/public/img/gold-bottom.png);
  width: 100%;
  position: relative;
  clear: both;
  padding-top: 15px;
  top: -30px;
  margin-bottom: -30px;
  position: relative;
  z-index: 5;
  background-repeat: no-repeat;
  background-position: center top;
}
.footer2 ul {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1050px;
}
.footer2 ul li {
    display: inline;
    text-align: center;
    height: 14px;
    width: 450px;
}
.footer2 ul li a {
  transition: .3s;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  border-bottom: 1px solid transparent;
  font-weight: 400;
  padding: 4px 0 8px;
  text-decoration: none;
  display: block;
  width: 175px;
  position: relative;
  float: left;
}
.footer2 ul li a:hover {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #333;
}
.footer2 img {
    min-width: 1185px;
    width: 100%;
    z-index: 200;
    margin-top: 100px;
    margin-bottom: -30px;
}
.container {
  position: relative;
  z-index: 2;
}
.header-logo {
  display: block;
max-width: 450px;
margin: 25px 30px 40px;
}
.header-logo svg {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
}

// Top nav
.navtop-container {
  background: #636363;
}
.fleur {
  background-image: url("/assets/public/img/fleur_transp.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 28px;
  z-index: 200;
  width: 25px;
  position: relative;
  top: 3px;
  margin: 0 15px;
}
.navtop-links {
  width: 90%;
}
.navtop-links .btn-default {
  font-size: 22px;
  text-transform: none;
  font-weight: 300;
  background-color: #636363;
  border-left: 1px solid #7b7b7b;
  padding-bottom: 2px;
  color: #f3f3f3;
  border-right: 1px solid #7b7b7b;
  box-shadow: none;
}
.navtop-links > .btn-default:hover {
  background-color: #e6e6e6 !important;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  color: #333;
}

// Bottom nav slider
.slider-nav-container{
  overflow: hidden;
  background: $off-white;
  border: 1px solid #afaeae;
}
.slider-nav{
  border-right: 15px white solid;
  border-left: 15px white solid;
  width: 90%;
  box-shadow: 0 0 0 1px #afaeae;
  background: white;
}
.slider-tile {
  height: 240px;
  width: 160px;
  position: relative;
  margin: 15px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-tile a {
  transition: .2s;
  border: 1px solid #797979;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,0);
  z-index: 1;
}

.slider-tile a:hover {
  background: rgba(255, 255, 255, 0.29);
}

.tile-caption {
  position: absolute;
  width: 100%;
  line-height: 1.2;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  padding: 5px 0;
  background: rgba(51, 51, 51, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  bottom: 15px;
  left: 0;
  color: white;
}
.slider-button{
  z-index: 20;
  position: absolute;
  top: 50%;
  outline: none !important;
  transform: translateY(-50%);
}
.slider-button:focus {
  outline: none;
}
.slider-button:active {
  outline: none;
}
.slider-button:first-child{
  left:-60px;
}
.slider-button:last-child{
  right:-60px;
}

.coord-icon-img {
  height: 148px;
  overflow: hidden;
}

.trip-icon-img {
  height: 130px;
  overflow: hidden;
}

.booking-icon-img {
  height: 80px;
  overflow: hidden;
}

// Tiles
#studenttourstile {
  background-image: url("/assets/public/img/tiles/studenttourstile.jpg");
}
#newyorktourstile {
    background-image: url("/assets/public/img/tiles/newyorktile.jpg");
}
#londontourstile {
    background-image: url("/assets/public/img/tiles/londontile.jpg");
}
#greecetourstile {
    background-image: url("/assets/public/img/tiles/greece.jpg");
}
#privatetourstile {
    background-image: url("/assets/public/img/tiles/privatetours.jpg");
}
#roomandboardtile {
    background-image: url("/assets/public/img/tiles/roomandboardtile.jpg");
}
#travelstoriestile {
    background-image: url("/assets/public/img/tiles/travelstoriestile.jpg");
}
#ourcommitmenttile {
    background-image: url("/assets/public/img/tiles/ourcommitmenttile.jpg");
}
#aboutustile {
    background-image: url("/assets/public/img/tiles/aboutustile.jpg");
}
#contactustile {
    background-image: url("/assets/public/img/tiles/contactustile.jpg");
}
