// Main content
.content-wrapper {
    background: rgba(0,0,0,0);
    padding: 0 30px;
    position: relative;
    z-index: 1;
}
.content-wrapper::before {
  content: "";
  height: 5px;
  width: 100%;
  background: #3e3e3e;
  position: absolute;
  top: -5px;
  left: 0;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}
.content-container {
  border-top: 1px solid #7b7b7b;
  background: white;
  min-height: 300px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  margin-bottom: 30px;
  position: relative;
  border-radius: 0 0 5px 5px;
  z-index: 2;
}
.nav-container::after{
  top: 30px !important;
}
.content-container::after {
  position: absolute;
  content: "";
  background: $grey-paleblue;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: -1;
}
.main-content {
  padding: 30px;
  width: 100%;
  height: auto;
}
.content-main {
  padding: 30px;
}
.account-title {
  padding: 0;
  margin-top: -10px;
}

.profile-details-header {
  margin: 5px 0 !important;
}


// PW RESET

.pwreset-heading {
    text-align: center;
    font-size: 24px;
    background-color: #f7f7f7 !important;
    color: #555 !important;
    border-color: #afaeae !important;
}

.pwreset-body {
  padding: 30px 0px 15px;
}

// Profile module

#profile-details a {
  font-size: 15px;
}

.profile-traveler {
  border-radius: 0 0 5px 5px;
  top: -1px;
  position: relative;
  z-index: 2;
}
.profile-traveler .traveler-modal-container {
  background: #fafafa;
  width: 100%;
}
.profile-traveler-input {

}
