// Trips

.trips-container {
  width: 100%;
}

.trips-default {
  width: 100%;
  padding: 0 0 80px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 50px;
}
.default-container {
  padding: 20px 30px 30px;
}
.default-container h4 {
  font-weight: 600;
}
.default-container p {
  font-size: 18px;
}
