// Trips
.trips-wrapper {
  margin: 0 0 15px;
  min-height: 300px;
}

.trips-container {
  width: 100%;
}

.trips-default {
  width: 100%;
  height: 300px;
  padding: 0 0 30px;
}
.default-container {
  padding: 20px 30px 30px;
}
.default-container h4 {
  font-weight: 600;
}
.default-container p {
  font-size: 18px;
}

.trip-modal {
  border-color: #ccc;
  overflow: hidden;
  font-size: 18px;
}

.trip-modal-seperator {
  margin-bottom: 10px !important;
}

.trip-modal h5 {
  margin-bottom: 0px;
  margin-top: 10px;
}

.trip-modal-strong {
  font-weight: 500;
  font-size: 19px;
}

.trip-modal p {
  margin: 0;
  line-height: 1.4;
}

.trip-modal .panel-body {
  padding: 10px 20px;
}

.trip-modal-details {
  padding-right: 0px;
  position: relative;
  z-index: 2;
  background: white;
  box-shadow: 0 1px 0px #ccc;
}

.trip-modal-payments {
  padding-left: 0;
  border-left: 1px solid #ccc;
  position: relative;
  z-index: 2;
  background: white;
  box-shadow: 0 1px 0px #ccc;
}

.trip-modal-message {
  border-top: 0px solid #ccc;
}

.trip-modal-details img {
  width: 100%;
  margin-bottom: 5px;
}

.trip-modal a {
  font-size: 19px;
}

.trip-cancelled{
  opacity: 1;
}

.trip-cancelled.expander-open {
  opacity: 0.5;
}

.trip-status {
  border-radius: 3px;
  padding: 0 10px 0 0;
  border: 1px solid;
  margin: -12px 0 0 -5px;
  position: absolute;
  z-index: 20;
  height: 28px;
}

.trip-status p {
  margin: 0 !important;
}

.trip-paid {
  background: #fff;
  border-color: #ccc;
  color: #25c173;
}

.trip-err {
  border-color: #ccc;
  background: #fff;
  color: #ce0004;
}

.trip-warn {
  border-color: #ccc;
  background: #fff;
  color: #f0ad4e
}

.trip-status img {
  display: block !important;
  width: 16px !important;
  height: 16px !important;
  margin: 0 10px 0 0;
}

.coordinator-trips-table td{
  border-top: 0px !important;
}

.coordinator-trips-table .row-odd{
  background: #f3f3f3;
}

.coordinator-trips-container {
  border: 1px solid #ccc;
  left: -1px;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 300px;
}

.coordinator-trips-expanded {
  padding: 0 !important;
  border-top: 0 !important;
}

.coordinator-trips-expanded p {
  margin: 0;
  font-size: 14px;
}

.coordinator-trips-expanded .expander-content {
  background-color: #fcfcfc;
  margin: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0px 4px 2px -2px rgba(0,0,0,0.2);
}

.coordinator-trips-expanded .expander-controller {
  right: 30px;
  top: -33px;
}
